<div class="navbar">
    <div id="navbar_top">
        <span>Admin Panel</span>
    </div>
    <div class="menu_item">
        <!-- Main Dashboard -->
        <button mat-button class="menu_button" [routerLink]="['dashboard']">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>

        <!-- Manage Course -->
        <button mat-button class="menu_button" [routerLink]="['manage_course']">
            <mat-icon>subject</mat-icon>
            <span>Manage Course</span>
        </button>

        <!-- Manage Topics -->
        <button mat-button class="menu_button" [routerLink]="['manage_topic']">
            <mat-icon>chrome_reader_mode</mat-icon>
            <span>Manage Topic</span>
        </button>

        <!-- Manage Content -->
        <button mat-button class="menu_button" [routerLink]="['manage_content']">
            <mat-icon>line_weight</mat-icon>
            <span>Manage Content</span>
        </button>

        <!-- ppt notes -->
        <button mat-button class="menu_button" [routerLink]="['ppt_notes']">
            <mat-icon>file_copy</mat-icon>
            <span>PPT Notes</span>
        </button>

        <!-- pdf notes -->
        <button mat-button class="menu_button" [routerLink]="['pdf_notes']">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>PDF Notes</span>
        </button>

        <!-- University -->
        <button mat-button class="menu_button" [routerLink]="['university']">
            <mat-icon>business</mat-icon>
            <span>University</span>
        </button>

        <!-- University -->
        <button mat-button class="menu_button" [routerLink]="['semester']">
            <mat-icon>business</mat-icon>
            <span>Manage Semester</span>
        </button>

        <!-- syllabus -->
        <button mat-button class="menu_button" [routerLink]="['syllabus']">
            <mat-icon>business</mat-icon>
            <span>Syllabus</span>
        </button>

        <!-- previous question  -->
        <button mat-button class="menu_button" [routerLink]="['previous_question']">
            <mat-icon>business</mat-icon>
            <span>Previous Question</span>
        </button>

        <!-- Video  -->
        <button mat-button class="menu_button" [routerLink]="['video']">
            <mat-icon>ondemand_video</mat-icon>
            <span>Video</span>
        </button>

        <!-- Img slider  -->
        <button mat-button class="menu_button" [routerLink]="['img_slider']">
            <mat-icon>view_carousel</mat-icon>
            <span>Image Slider</span>
        </button>

        <!-- Enquiry -->
        <button mat-button class="menu_button" [routerLink]="['enquiry']">
            <mat-icon> contact_mail</mat-icon>
            <span>Enquiry</span>
        </button>

        <!-- Notification -->
        <button mat-button class="menu_button" [routerLink]="['notification']">
            <mat-icon>notifications</mat-icon>
            <span> Notification</span>
        </button>
    </div>
</div>