<div id="dashboard">
    <!-------- Total course -------->
    <div class="box" [routerLink]="['/home/manage_course']">
        <p></p>
        <br>
        <span>Course</span>
        <mat-icon>subject</mat-icon>
    </div>

    <!-- Total Topics -->
    <div class="box" [routerLink]="['/home/manage_topic']">
        <p></p>
        <br>
        <span>Topics</span>
        <mat-icon>chrome_reader_mode</mat-icon>
    </div>

    <!-- Total Content -->
    <div class="box" [routerLink]="['/home/manage_content']">
        <p></p>
        <br>
        <span>Content</span>
        <mat-icon>line_weight</mat-icon>
    </div>

    <!-- Total PPT Notes -->
    <div class="box" [routerLink]="['/home/ppt_notes']">
        <p></p>
        <br>
        <span>PPT</span>
        <mat-icon>file_copy</mat-icon>
    </div>

    <!-- Total PDF Notes -->
    <div class="box" [routerLink]="['/home/pdf_notes']">
        <p></p>
        <br>
        <span>PDF</span>
        <mat-icon>picture_as_pdf</mat-icon>
    </div>

    <!-- Total University -->
    <div class="box" [routerLink]="['/home/university']">
        <p></p>
        <br>
        <span>University</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- Total syllabus -->
    <div class="box" [routerLink]="['/home/syllabus']">
        <p></p>
        <br>
        <span>Syllabus</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- Total previous question -->
    <div class="box" [routerLink]="['/home/previous_question']">
        <p></p>
        <br>
        <span>Previous Question</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- video -->
    <div class="box" [routerLink]="['/home/video']">
        <p></p>
        <br>
        <span>Video</span>
        <mat-icon>ondemand_video</mat-icon>
    </div>

    <!-- img slider -->
    <div class="box" [routerLink]="['/home/img_slider']">
        <p></p>
        <br>
        <span>Image Slider</span>
        <mat-icon>view_carousel</mat-icon>
    </div>


    <!-- Total enquiry -->
    <div class="box" [routerLink]="['/home/enquiry']">
        <p></p>
        <br>
        <span>Enquiry</span>
        <mat-icon> contact_mail</mat-icon>
    </div>

    <!-- Total Notification -->
    <div class="box" [routerLink]="['/home/notification']">
        <p></p>
        <br>
        <span>Notification</span>
        <mat-icon>notifications</mat-icon>
    </div>

</div>